[Unit]
Description=GMS Auto Test Web Application
After=network.target

[Service]
Type=simple
User=%user
WorkingDirectory=/home/%user/GMS_Auto_Test/web_app
Environment="PATH=/home/%user/.local/bin:/usr/bin"
ExecStart=/usr/bin/python3 /home/%user/GMS_Auto_Test/web_app/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
